<ion-view title="Biodata & Pekerjaan Tertanggung" nav-transition="none" id="page8"
          cache-view="false">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div id="dataTertanggung33-container7">
            <form id="dataTertanggung33-form23" class="list">

                <div class="item item-divider" style="margin-top:25px;">3. Data Pendukung untuk Tertanggung</div>
				<label class="item item-select" id="dataTertanggung13-select2" name="jenkelTertanggung">
					<span class="input-label">Hubungan dengan Pemegang Polis</span>
					<select ng-model="data.hubdgnPempol"
							ng-options="hubdgnPempol.id as hubdgnPempol.label for hubdgnPempol in hubdgnpempols"
							ng-change=""></select>
				</label>
				<label class="item item-input" name="usiaProduktifTertanggung" ng-hide="labelusiaProduktifTertanggung">
                    <span class="input-label">Usia Produktif</span>
                    <input type="number" min="1" max="99" placeholder="0"
                           ng-model="data.usiaProduktifTertanggung"  ng-pattern-restrict="^([0-9,.-]*|)$" ng-readonly="true"  ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input21"
                       name="tinggiBadanTertanggung">
                    <span class="input-label">Tinggi Badan (CM)</span>
                    <input type="number" min="50" max="250" placeholder="50cm s/d 250cm"
                           ng-model="data.tinggiBadanTertanggung"  ng-pattern-restrict="^([0-9,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input22"
                       name="beratBadanTertanggung">
                    <span class="input-label">Berat Badan (KG)</span>
                    <input type="number" min="10" max="300" placeholder="10kg s/d 300kg"
                           ng-model="data.beratBadanTertanggung"  ng-pattern-restrict="^([0-9,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input20"
                       name="ibuKandungTertanggung">
                    <span class="input-label">Nama ibu Kandung</span>
                    <input type="text" placeholder="__________________"
                           ng-model="data.ibuKandungTertanggung"  ng-pattern-restrict="^([A-Za-z 0-9'`,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-select" id="dataTertanggung33-select24"
                       name="pendidikanTertanggung">
                    <span class="input-label">Pendidikan Terakhir</span>
                    <select ng-model="data.pendidikanTertanggung"
                            ng-options="pendidikanTertanggung.id as pendidikanTertanggung.label for pendidikanTertanggung in pendidikans"
                            ng-change="saveDataSpaj()"></select>
                </label>
                <label class="item item-select" id="dataTertanggung33-select23"
                       name="statusPernikahanTertanggung">
                    <span class="input-label">Status Pernikahan</span>
                    <select ng-model="data.statusPernikahanTertanggung"
                            ng-options="statusPernikahanTertanggung.id as statusPernikahanTertanggung.label for statusPernikahanTertanggung in statuss"
                            ng-change="saveDataSpaj()"></select>
                </label>
            </form>

        </div>
	<br />
        <div id="dataTertanggung33-container5" ng-hide="true">
            <div class="item item-divider" style="margin-top:25px;">Saudara Yang Tidak Serumah</div>
            <form id="dataTertanggung33-form21" class="list">
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="namaSaudaraTertanggung">
                    <span class="input-label">Nama</span>
                    <input type="text" placeholder="__________________"
                           ng-model="data.namaSaudaraTertanggung"  ng-pattern-restrict="^([A-Za-z 0-9'`,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-textarea5"
                       name="alamatSuratSaudaraTertanggung">
                    <span class="input-label">Alamat Surat</span><textarea
                        placeholder="__________________"
                        ng-model="data.alamatSuratSaudaraTertanggung"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                        ng-blur="saveDataSpaj()"></textarea>
                </label>
                <label class="item item-select" id="dataTertanggung33-select20"
                       name="provinsiSuratSaudaraTertanggung">
                    <span class="input-label">Provinsi</span>
                    <select ng-model="data.provinsiSuratSaudaraTertanggung"
                            ng-options="provinsiSuratSaudaraTertanggung.id as provinsiSuratSaudaraTertanggung.label for provinsiSuratSaudaraTertanggung  in provinsis"
                            ng-change="setKabupatensValues(data.provinsiSuratSaudaraTertanggung);saveDataSpaj()"></select>
                </label>
				
				<label class="item item-select" id="dataTertanggung23-select9"
					   name="kabupatenSuratSaudaraTertanggung">
					<span class="input-label">Kabupaten/Kota</span>
					<select ng-model="data.kabupatenSuratSaudaraTertanggung"
							ng-options="kabupatenSuratSaudaraTertanggung.id as kabupatenSuratSaudaraTertanggung.label for kabupatenSuratSaudaraTertanggung in kabupatens"
							ng-change="saveDataSpaj($scope)"></select>
				</label>
				
                <label class="item item-input" id="dataTertanggung33-input56"
                       name="kodeposSuratSaudaraTertanggung">
                    <span class="input-label">Kode Pos</span>
                    <input type="number" placeholder="__________________"
                           ng-model="data.kodeposSuratSaudaraTertanggung"  ng-pattern-restrict="^([0-9,.-]*|)$" ng-blur="saveDataSpaj()" maxlength="5">
                </label>
                <label class="item item-input" id="dataTertanggung33-input18"
                       name="hpSuratSaudaraTertanggung">
                    <span class="input-label">Nomor HP</span>
                    <input type="tel" placeholder="Nomor HP"
                           ng-model="data.hpSuratSaudaraTertanggung"  ng-pattern-restrict="^([0-9,.-]*|)$" ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input19"
                       name="noTelpSaudaraTertanggung">
                    <span class="input-label">Nomor Telepon</span>
                    <input type="tel" placeholder="Nomor Telepon"
                           ng-model="data.noTelpSaudaraTertanggung"  ng-pattern-restrict="^([0-9,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>
            </form>
        </div>

        <div class="button-bar" ng-hide="true">
            <ion-radio class="radio radio-balanced " ng-blur="" ng-hide="" ng-show=""
                       id="produkDanManfaat122-radio2" name="isAdaTertanggungTambahan1"
                       ng-model="data.isAdaTertanggungTambahan1" ng-change="setTT(data.isAdaTertanggungTambahan1);saveDataSpaj();" ng-value="true">ADA
            </ion-radio>
			
            <ion-radio class="radio radio-balanced " ng-blur="" ng-hide="" ng-show=""
                       id="produkDanManfaat122-radio1" name="isAdaTertanggungTambahan1"
                       ng-model="data.isAdaTertanggungTambahan1" ng-value="false" ng-change="setTT(data.isAdaTertanggungTambahan1);saveDataSpaj();" >TIDAK
            </ion-radio>
        </div>

		<div class="item item-divider" style="margin-top:25px;">Tertanggung Tambahan</div>
        <label class="item item-select" ng-hide="" ng-show=""
               id="dataTertanggung33-select20" name="jmlTertanggungTambahan">
            <span class="input-label">Jumlah tertanggung Tambahan</span>
            <select ng-model="data.jmlTertanggungTambahan"
			ng-options="jmlTertanggung.id as jmlTertanggung.label for jmlTertanggung in jmlTertanggungs"
			ng-change="setjmlTertanggung(data.jmlTertanggungTambahan); saveDataSpaj();">
			
                <option value="0">Tidak Ada</option>
                <option value="1">1 Orang</option>
                <!-- <option value="2">2 Orang</option>
                <option value="3">3 Orang</option>
                <option value="4">4 Orang</option> -->
            </select>
			
        </label>

        <form ng-show="data.isAdaTertanggungTambahan1" ng-hide="!data.isAdaTertanggungTambahan1" id="dataTertanggung33-form21" class="list">
            <div id="tt1" ng-show="data.isAdaTertanggungTambahan1 && (data.jmlTertanggungTambahan >= 1)"><br/>
                <h3>DATA TERTANGGUNG TAMBAHAN 1</h3>
				
				<div class="row">
					<div class="col col-75"><span style="font-size:16px;color:#444;">Salin data dari Pemegang Polis?</span></div>
					<div class="col" style="text-align:right;">
						<md-toggle ng-model="data.isTertanggungTambahan1Pempol"
								   name="isTertanggungTambahan1Pempol"
								   ng-change="copyTertanggung1FromPempol()"
								   toggle-class="toggle-balanced">
						</md-toggle>
					</div>
				</div>

                <label class="item item-select" id="dataTertanggung33-select20"
                       name="hubunganTT1DenganTTU">
                    <span class="input-label">Hubungan dengan Tertanggung Utama</span>
                    <select ng-model="data.hubunganTT1DenganTTU"
                            ng-options="hubunganTT1DenganTTU.id as hubunganTT1DenganTTU.label for hubunganTT1DenganTTU  in hubunganKeluargas"
                            ng-change="saveDataSpaj()"></select>
                </label>
                <label class="item item-select" id="dataTertanggung33-select20"
                       name="jenisKelaminTertanggungTambahan1">
                    <span class="input-label">Jenis Kelamin</span>
                    <select ng-model="data.jenisKelaminTertanggungTambahan1"
                            ng-options="jenisKelaminTertanggungTambahan1.id as jenisKelaminTertanggungTambahan1.label for jenisKelaminTertanggungTambahan1  in genders"
                            ng-change="saveDataSpaj()"></select>
                </label>
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="namaTertanggungTambahan1">
                    <span class="input-label">Nama</span>
                    <input type="text" placeholder="__________________"
                           ng-model="data.namaTertanggungTambahan1"  ng-pattern-restrict="^([A-Za-z 0-9'`,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="noKtpTertanggungTambahan1">
                    <span class="input-label">No. KTP</span>
                    <input type="text" placeholder="___ ___ ___ ___ ___ ___"
                           ng-model="data.noKtpTertanggungTambahan1"  ng-pattern-restrict="^([0-9,.-]*|)$" onKeyPress="if(this.value.length==16) return false;"  ng-blur="saveDataSpaj()">
                </label>
                <!--label class="item item-input" id="dataTertanggung33-input23"
                       name="tglLahirTertanggungTambahan1">
                    <span class="input-label">Tanggal Lahir</span>
                    <input type="date" ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd"
                           placeholder="__________________"
                           ng-model="data.tglLahirTertanggungTambahan1" ng-blur="saveDataSpaj()">
                </label-->
				<label class="item item-input" id="dataTertanggung33-input23" name="tglLahirTertanggungTambahan1">
					<span class="input-label">Tgl. Lahir (d-m-y)</span>
					<input type="hidden" ion-datetime-picker date ng-model="data.tglLahirTertanggungTambahan1" ng-blur="saveDataSpaj($scope)">
						{{data.tglLahirTertanggungTambahan1| date: "dd-MM-yyyy"}}
					</input>
				</label>
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="tempatLahirTertanggungTambahan1">
                    <span class="input-label">Tempat Lahir</span>
                    <input type="text" placeholder="__________________"
                           ng-model="data.tempatLahirTertanggungTambahan1"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" ng-blur="saveDataSpaj()">
                </label>

                <label class="item item-input" id="dataTertanggung33-input23"
                       name="tinggiBadanTertanggungTambahan1">
                    <span class="input-label">Tinggi Badan (CM)</span>
                    <input type="number" min="50" max="250" placeholder="50cm s/d 250cm"
                           placeholder="____" ng-model="data.tinggiBadanTertanggungTambahan1" ng-pattern-restrict="^([0-9,.-]*|)$" 
                           ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="beratBadanTertanggungTambahan1">
                    <span class="input-label">Berat Badan (KG)</span>
                    <input type="number" min="10" max="300" placeholder="10kg s/d 300kg" ng-pattern-restrict="^([0-9,.-]*|)$" 
                           ng-model="data.beratBadanTertanggungTambahan1" ng-blur="saveDataSpaj()">
                </label>


                <br/>
                Apakah Tertanggung 1 bekerja?
                <div class="button-bar ">
                    <ion-radio class="radio radio-balanced " ng-blur="saveDataSpaj();" ng-hide=""
                               ng-show="" id="produkDanManfaat12-radio2"
                               name="isTertanggungTambahan1Bekerja"
                               ng-model="data.isTertanggungTambahan1Bekerja" ng-value="true">YA
                    </ion-radio>
                    <ion-radio class="radio radio-balanced " ng-blur="saveDataSpaj();" ng-hide=""
                               ng-show="" id="produkDanManfaat12-radio1"
                               name="isTertanggungTambahan1Bekerja"
                               ng-model="data.isTertanggungTambahan1Bekerja" ng-value="false">TIDAK
                    </ion-radio>
                </div>
                <div ng-show="data.isTertanggungTambahan1Bekerja">
                    <label class="item item-input" id="dataTertanggung33-input23"
                           name="namaKantorTertanggungTambahan1">
                        <span class="input-label">Nama kantor tempat bekerja</span>
                        <input type="text" placeholder="__________________"
                               ng-model="data.namaKantorTertanggungTambahan1"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                               ng-blur="saveDataSpaj()">
                    </label>
                    <label class="item item-input" id="dataTertanggung33-input23"
                           name="alamatKantorTertanggungTambahan1">
                        <span class="input-label">Alamat kantor tempat bekerja</span>
                        <input type="text" placeholder="__________________"
                               ng-model="data.alamatKantorTertanggungTambahan1"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                               ng-blur="saveDataSpaj()">
                    </label>
                </div>
            </div>


            <div id="tt2" ng-show="data.isAdaTertanggungTambahan1 && (data.jmlTertanggungTambahan >= 2)">
                <br/>
                <h3>DATA TERTANGGUNG TAMBAHAN 2</h3>
				
				<div class="row">
					<div class="col col-75"><span style="font-size:16px;color:#444;">Salin data dari Pemegang Polis?</span></div>
					<div class="col" style="text-align:right;">
						<md-toggle ng-model="data.isTertanggungTambahan2Pempol"
								   name="isTertanggungTambahan2Pempol"
								   ng-change="copyTertanggung2FromPempol()"
								   toggle-class="toggle-balanced">
						</md-toggle>
					</div>
				</div>
				
                <label class="item item-select" id="dataTertanggung33-select20"
                       name="hubunganTT2DenganTTU">
                    <span class="input-label">Hubungan dengan Tertanggung Utama</span>
                    <select ng-model="data.hubunganTT2DenganTTU"
                            ng-options="hubunganTT2DenganTTU.id as hubunganTT2DenganTTU.label for hubunganTT2DenganTTU  in hubunganKeluargas"
                            ng-change="saveDataSpaj()"></select>
                </label>
				
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="namaTertanggungTambahan2">
                    <span class="input-label">Nama</span>
                    <input type="text" placeholder="__________________"
                           ng-model="data.namaTertanggungTambahan2"  ng-pattern-restrict="^([A-Za-z 0-9'`,.-]*|)$" ng-blur="saveDataSpaj()">
                </label>
                
                <label class="item item-select" id="dataTertanggung33-select20"
                       name="jenisKelaminTertanggungTambahan2">
                    <span class="input-label">Jenis Kelamin</span>
                    <select ng-model="data.jenisKelaminTertanggungTambahan2"
                            ng-options="jenisKelaminTertanggungTambahan2.id as jenisKelaminTertanggungTambahan2.label for jenisKelaminTertanggungTambahan2  in genders"
                            ng-change="saveDataSpaj()"></select>
                </label>

                <label class="item item-input" id="dataTertanggung33-input23"
                       name="noKtpTertanggungTambahan2">
                    <span class="input-label">No. KTP</span>
                    <input type="text" placeholder="___ ___ ___ ___ ___ ___"
                           ng-model="data.noKtpTertanggungTambahan2"  ng-pattern-restrict="^([0-9,.-]*|)$" onKeyPress="if(this.value.length==16) return false;" ng-blur="saveDataSpaj()">
                </label>
                <!--label class="item item-input" id="dataTertanggung33-input23"
                       name="tglLahirTertanggungTambahan2">
                    <span class="input-label">Tanggal Lahir</span>
                    <input type="date" ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd"
                           placeholder="__________________"
                           ng-model="data.tglLahirTertanggungTambahan2" ng-blur="saveDataSpaj()">
                </label-->
				
				<label class="item item-input" id="dataTertanggung33-input23" name="tglLahirTertanggungTambahan2">
					<span class="input-label">Tgl. Lahir (d-m-y)</span>
					<input type="hidden" ion-datetime-picker date ng-model="data.tglLahirTertanggungTambahan2" ng-blur="saveDataSpaj($scope)">
						{{data.tglLahirTertanggungTambahan2| date: "dd-MM-yyyy"}}
					</input>
				</label>
				
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="tempatLahirTertanggungTambahan2">
                    <span class="input-label">Tempat Lahir</span>
                    <input type="text" placeholder="__________________"
                           ng-model="data.tempatLahirTertanggungTambahan2"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>

                <label class="item item-input" id="dataTertanggung33-input23"
                       name="tinggiBadanTertanggungTambahan2">
                    <span class="input-label">Tinggi Badan (CM)</span>
                    <input type="number" min="50" max="250" placeholder="50cm s/d 250cm"
                           placeholder="____" ng-model="data.tinggiBadanTertanggungTambahan2"  ng-pattern-restrict="^([0-9,.-]*|)$" 
                           ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="beratBadanTertanggungTambahan2">
                    <span class="input-label">Berat Badan (KG)</span>
                    <input type="number" min="10" max="300" placeholder="10kg s/d 300kg"
                           ng-model="data.beratBadanTertanggungTambahan2"  ng-pattern-restrict="^([0-9,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>
				
				 <br/>
                Apakah Tertanggung 2 bekerja?
                <div class="button-bar ">
                    <ion-radio class="radio radio-balanced " ng-blur="saveDataSpaj();" ng-hide=""
                               ng-show="" id="produkDanManfaat12-radio2"
                               name="isTertanggungTambahan2Bekerja"
                               ng-model="data.isTertanggungTambahan2Bekerja" ng-value="true">YA
                    </ion-radio>
                    <ion-radio class="radio radio-balanced " ng-blur="saveDataSpaj();" ng-hide=""
                               ng-show="" id="produkDanManfaat12-radio1"
                               name="isTertanggungTambahan2Bekerja"
                               ng-model="data.isTertanggungTambahan2Bekerja" ng-value="false">TIDAK
                    </ion-radio>
                </div>
                <div ng-show="data.isTertanggungTambahan2Bekerja">
                    <label class="item item-input" id="dataTertanggung33-input23"
                           name="namaKantorTertanggungTambahan2">
                        <span class="input-label">Nama kantor tempat bekerja</span>
                        <input type="text" placeholder="__________________"
                               ng-model="data.namaKantorTertanggungTambahan2"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                               ng-blur="saveDataSpaj()">
                    </label>
                    <label class="item item-input" id="dataTertanggung33-input23"
                           name="alamatKantorTertanggungTambahan2">
                        <span class="input-label">Alamat kantor tempat bekerja</span>
                        <input type="text" placeholder="__________________"
                               ng-model="data.alamatKantorTertanggungTambahan2"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                               ng-blur="saveDataSpaj()">
                    </label>
                </div>
				
            </div>

            <div id="tt3" ng-show="data.isAdaTertanggungTambahan1 && (data.jmlTertanggungTambahan >= 3)"><br/>
                <h3>DATA TERTANGGUNG TAMBAHAN 3</h3>
				
				<div class="row">
					<div class="col col-75"><span style="font-size:16px;color:#444;">Salin data dari Pemegang Polis?</span></div>
					<div class="col" style="text-align:right;">
						<md-toggle ng-model="data.isTertanggungTambahan3Pempol"
								   name="isTertanggungTambahan3Pempol"
								   ng-change="copyTertanggung3FromPempol()"
								   toggle-class="toggle-balanced">
						</md-toggle>
					</div>
				</div>
				
                <label class="item item-select" id="dataTertanggung33-select20"
                       name="hubunganTT3DenganTTU">
                    <span class="input-label">Hubungan dengan Tertanggung Utama</span>
                    <select ng-model="data.hubunganTT3DenganTTU"
                            ng-options="hubunganTT3DenganTTU.id as hubunganTT3DenganTTU.label for hubunganTT3DenganTTU  in hubunganKeluargas"
                            ng-change="saveDataSpaj()"></select>
                </label>
				
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="namaTertanggungTambahan3">
                    <span class="input-label">Nama</span>
                    <input type="text" placeholder="__________________"
                           ng-model="data.namaTertanggungTambahan3"  ng-pattern-restrict="^([A-Za-z 0-9'`,.-]*|)$" ng-blur="saveDataSpaj()">
                </label>
                
                <label class="item item-select" id="dataTertanggung33-select20"
                       name="jenisKelaminTertanggungTambahan3">
                    <span class="input-label">Jenis Kelamin</span>
                    <select ng-model="data.jenisKelaminTertanggungTambahan3"
                            ng-options="jenisKelaminTertanggungTambahan3.id as jenisKelaminTertanggungTambahan3.label for jenisKelaminTertanggungTambahan3  in genders"
                            ng-change="saveDataSpaj()"></select>
                </label>

                <label class="item item-input" id="dataTertanggung33-input23"
                       name="noKtpTertanggungTambahan3">
                    <span class="input-label">No. KTP</span>
                    <input type="text" placeholder="___ ___ ___ ___ ___ ___"
                           ng-model="data.noKtpTertanggungTambahan3"  ng-pattern-restrict="^([0-9,.-]*|)$" onKeyPress="if(this.value.length==16) return false;" ng-blur="saveDataSpaj()">
                </label>
                <!--label class="item item-input" id="dataTertanggung33-input23"
                       name="tglLahirTertanggungTambahan3">
                    <span class="input-label">Tanggal Lahir</span>
                    <input type="date" ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd"
                           placeholder="__________________"
                           ng-model="data.tglLahirTertanggungTambahan3" ng-blur="saveDataSpaj()">
                </label-->
				
				<label class="item item-input" id="dataTertanggung33-input23" name="tglLahirTertanggungTambahan3">
					<span class="input-label">Tgl. Lahir (d-m-y)</span>
					<input type="hidden" ion-datetime-picker date ng-model="data.tglLahirTertanggungTambahan3" ng-blur="saveDataSpaj($scope)">
						{{data.tglLahirTertanggungTambahan3| date: "dd-MM-yyyy"}}
					</input>
				</label>
				
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="tempatLahirTertanggungTambahan3">
                    <span class="input-label">Tempat Lahir</span>
                    <input type="text" placeholder="__________________"
                           ng-model="data.tempatLahirTertanggungTambahan3"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$"  ng-blur="saveDataSpaj()">
                </label>

                <label class="item item-input" id="dataTertanggung33-input23"
                       name="tinggiBadanTertanggungTambahan3">
                    <span class="input-label">Tinggi Badan (CM)</span>
                    <input type="number" min="50" max="250" placeholder="50cm s/d 250cm"
                           placeholder="____" ng-model="data.tinggiBadanTertanggungTambahan3"  ng-pattern-restrict="^([0-9,.-]*|)$" 
                           ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="beratBadanTertanggungTambahan3">
                    <span class="input-label">Berat Badan (KG)</span>
                    <input type="number" min="10" max="300" placeholder="10kg s/d 300kg"
                           ng-model="data.beratBadanTertanggungTambahan3"  ng-pattern-restrict="^([0-9,.-]*|)$" ng-blur="saveDataSpaj()">
                </label>
								
				 <br/>
                Apakah Tertanggung 3 bekerja?
                <div class="button-bar ">
                    <ion-radio class="radio radio-balanced " ng-blur="saveDataSpaj();" ng-hide=""
                               ng-show="" id="produkDanManfaat12-radio2"
                               name="isTertanggungTambahan3Bekerja"
                               ng-model="data.isTertanggungTambahan3Bekerja" ng-value="true">YA
                    </ion-radio>
                    <ion-radio class="radio radio-balanced " ng-blur="saveDataSpaj();" ng-hide=""
                               ng-show="" id="produkDanManfaat12-radio1"
                               name="isTertanggungTambahan3Bekerja"
                               ng-model="data.isTertanggungTambahan3Bekerja" ng-value="false">TIDAK
                    </ion-radio>
                </div>
                <div ng-show="data.isTertanggungTambahan3Bekerja">
                    <label class="item item-input" id="dataTertanggung33-input23"
                           name="namaKantorTertanggungTambahan3">
                        <span class="input-label">Nama kantor tempat bekerja</span>
                        <input type="text" placeholder="__________________"
                               ng-model="data.namaKantorTertanggungTambahan3"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                               ng-blur="saveDataSpaj()">
                    </label>
                    <label class="item item-input" id="dataTertanggung33-input23"
                           name="alamatKantorTertanggungTambahan3">
                        <span class="input-label">Alamat kantor tempat bekerja</span>
                        <input type="text" placeholder="__________________"
                               ng-model="data.alamatKantorTertanggungTambahan3"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                               ng-blur="saveDataSpaj()">
                    </label>
                </div>
				
            </div>

            <div id="tt4" ng-show="data.isAdaTertanggungTambahan1 && (data.jmlTertanggungTambahan == 4)"><br/>
                <h3>DATA TERTANGGUNG TAMBAHAN 4</h3>
				
				<div class="row">
					<div class="col col-75"><span style="font-size:16px;color:#444;">Salin data dari Pemegang Polis?</span></div>
					<div class="col" style="text-align:right;">
						<md-toggle ng-model="data.isTertanggungTambahan4Pempol"
								   name="isTertanggungTambahan4Pempol"
								   ng-change="copyTertanggung4FromPempol()"
								   toggle-class="toggle-balanced">
						</md-toggle>
					</div>
				</div>
				
                <label class="item item-select" id="dataTertanggung33-select20"
                       name="hubunganTT4DenganTTU">
                    <span class="input-label">Hubungan dengan Tertanggung Utama</span>
                    <select ng-model="data.hubunganTT4DenganTTU"
                            ng-options="hubunganTT4DenganTTU.id as hubunganTT4DenganTTU.label for hubunganTT4DenganTTU  in hubunganKeluargas"
                            ng-change="saveDataSpaj()"></select>
                </label>
				
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="namaTertanggungTambahan4">
                    <span class="input-label">Nama</span>
                    <input type="text" placeholder="__________________"  ng-pattern-restrict="^([A-Za-z 0-9'`,.-]*|)$" 
                           ng-model="data.namaTertanggungTambahan4" ng-blur="saveDataSpaj()">
                </label>
                
                <label class="item item-select" id="dataTertanggung33-select20"
                       name="jenisKelaminTertanggungTambahan4">
                    <span class="input-label">Jenis Kelamin</span>
                    <select ng-model="data.jenisKelaminTertanggungTambahan4"
                            ng-options="jenisKelaminTertanggungTambahan4.id as jenisKelaminTertanggungTambahan4.label for jenisKelaminTertanggungTambahan4  in genders"
                            ng-change="saveDataSpaj()"></select>
                </label>

                <label class="item item-input" id="dataTertanggung33-input23"
                       name="noKtpTertanggungTambahan4">
                    <span class="input-label">No. KTP</span> 
                    <input type="text" placeholder="___ ___ ___ ___ ___ ___"  ng-pattern-restrict="^([0-9,.-]*|)$" 
                           ng-model="data.noKtpTertanggungTambahan4" onKeyPress="if(this.value.length==16) return false;" ng-blur="saveDataSpaj()">
                </label>
                <!--label class="item item-input" id="dataTertanggung33-input23"
                       name="tglLahirTertanggungTambahan4">
                    <span class="input-label">Tanggal Lahir</span>
                    <input type="date" ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd"
                           placeholder="__________________"
                           ng-model="data.tglLahirTertanggungTambahan4" ng-blur="saveDataSpaj()">
                </label-->
				
				<label class="item item-input" id="dataTertanggung33-input23" name="tglLahirTertanggungTambahan4">
					<span class="input-label">Tgl. Lahir (d-m-y)</span>
					<input type="hidden" ion-datetime-picker date ng-model="data.tglLahirTertanggungTambahan4" ng-blur="saveDataSpaj($scope)">
						{{data.tglLahirTertanggungTambahan4| date: "dd-MM-yyyy"}}
					</input>
				</label>
				
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="tempatLahirTertanggungTambahan4">
                    <span class="input-label">Tempat Lahir</span>
                    <input type="text" placeholder="__________________"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                           ng-model="data.tempatLahirTertanggungTambahan4" ng-blur="saveDataSpaj()">
                </label>

                <label class="item item-input" id="dataTertanggung33-input23"
                       name="tinggiBadanTertanggungTambahan4">
                    <span class="input-label">Tinggi Badan (CM)</span>
                    <input type="number" min="50" max="250" placeholder="50cm s/d 250cm"
                           placeholder="____" ng-model="data.tinggiBadanTertanggungTambahan4"  ng-pattern-restrict="^([0-9,.-]*|)$" 
                           ng-blur="saveDataSpaj()">
                </label>
                <label class="item item-input" id="dataTertanggung33-input23"
                       name="beratBadanTertanggungTambahan4">
                    <span class="input-label">Berat Badan (KG)</span>
                    <input type="number" min="10" max="300" placeholder="10kg s/d 300kg"
                           ng-model="data.beratBadanTertanggungTambahan4"  ng-pattern-restrict="^([0-9,.-]*|)$" ng-blur="saveDataSpaj()">
                </label>
				
				
												
				 <br/>
                Apakah Tertanggung 4 bekerja?
                <div class="button-bar ">
                    <ion-radio class="radio radio-balanced " ng-blur="saveDataSpaj();" ng-hide=""
                               ng-show="" id="produkDanManfaat12-radio2"
                               name="isTertanggungTambahan4Bekerja"
                               ng-model="data.isTertanggungTambahan4Bekerja" ng-value="true">YA
                    </ion-radio>
                    <ion-radio class="radio radio-balanced " ng-blur="saveDataSpaj();" ng-hide=""
                               ng-show="" id="produkDanManfaat12-radio1"
                               name="isTertanggungTambahan4Bekerja"
                               ng-model="data.isTertanggungTambahan4Bekerja" ng-value="false">TIDAK
                    </ion-radio>
                </div>
                <div ng-show="data.isTertanggungTambahan4Bekerja">
                    <label class="item item-input" id="dataTertanggung33-input23"
                           name="namaKantorTertanggungTambahan4">
                        <span class="input-label">Nama kantor tempat bekerja</span>
                        <input type="text" placeholder="__________________"
                               ng-model="data.namaKantorTertanggungTambahan4"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                               ng-blur="saveDataSpaj()">
                    </label>
                    <label class="item item-input" id="dataTertanggung33-input23"
                           name="alamatKantorTertanggungTambahan4">
                        <span class="input-label">Alamat kantor tempat bekerja</span>
                        <input type="text" placeholder="__________________"
                               ng-model="data.alamatKantorTertanggungTambahan4"  ng-pattern-restrict="^([A-Za-z 0-9,.-]*|)$" 
                               ng-blur="saveDataSpaj()">
                    </label>
                </div>
            </div>
        </form>

        <div id="dataTertanggung33-container6">
            <form id="dataTertanggung33-form22" class="list">
                <form id="dataTertanggung33-form22" class="list">
                    <div class="spacer" style="width: 748px; height: 21px;"></div>

                    <div class="row">
                        <div class="col col-75" style="font-size:1.1em;">Data Sudah Benar</div>
                        <div class="col" style="text-align:right;">
                            <md-toggle ng-model="data.isPageTertanggung3Accepted"
                                       name="isPageTertanggung3Accepted"
                                       ng-change="saveDataSpaj();moveToNextPage()"
                                       toggle-class="toggle-balanced">
                            </md-toggle>
                        </div>
                    </div>

                    <div class="spacer" style="height: 600px;"></div>
                </form>
        </div>
		<div class="spacer" style="height: 500px;"></div>
    </ion-content>
    <div class="tabs tabs-positive " style="height:auto;">


        <div class="row">
            <div class="col">
                <div id="dataTertanggung23-button-bar2" class="button-bar">
                    <a ui-sref="aplikasiSPAJOnline.pekerjaanTertanggung"
                       id="dataTertanggung33-button19"
                       class="button button-light button button-block button icon-right ion-edit">DATA
                        PEKERJAAN TERTANGGUNG UTAMA</a>
                    <!--a ui-sref="aplikasiSPAJOnline.pekerjaanTertanggung" id="dataTertanggung33-button19" class="button button-light button button-block button icon-right ion-edit">TERTANGGUNG TAMBAHAN</a>
                    <a ui-sref="aplikasiSPAJOnline.sKKTertanggungUtama" id="dataTertanggung33-button40" class="button button-light button button-block button icon-right ion-edit">SKK UTAMA</a>
                    <a ui-sref="aplikasiSPAJOnline.sKKTertanggungTambahan" id="dataTertanggung33-button46" class="button button-light button button-block button icon-right ion-edit">SKK TAMBAHAN</a-->
                </div>
                <div class="row">
                    <div class="col">
                        <div id="dataTertanggung33-button-bar4" class="button-bar">
                            <a ui-sref="aplikasiSPAJOnline.dataTertanggung13"
                               ng-click="isPageAccepted()" id="dataTertanggung33-button10"
                               style="font-weight:500;text-align:left;"
                               class="button button-stable icon-right   ion-chevron-right">1.
                                Identitas</a>
                            <a ui-sref="aplikasiSPAJOnline.dataTertanggung23({})"
                               ng-click="isPageAccepted()" id="dataTertanggung33-button11"
                               style="font-weight:500;text-align:left;"
                               class="button button-stable icon-right   ion-chevron-right">2. Tempat
                                Tinggal</a>
                            <button id="dataTertanggung33-button12"
                                    style="font-weight:500;text-align:left;"
                                    class="button button-balanced   icon-right">3. Pendukung
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</ion-view>