<ion-view title="Identitas Pemegang Polis" nav-transition="none" id="page10" cache-view="false">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">

    <style> 
	input.fileUpload {
	  display: inline-block;
	  width: 100%;
	  padding: 120px 0 0 0;
	  height: 80px;
	  overflow: hidden;
	  position:relative;
	  left:-50px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: url('img/ul.png') center center no-repeat #fff;
	  border-radius: 20px;
	  background-size: 60px 
	}
	canvas {
		image-rendering: optimizeSpeed;
		image-rendering: crisp-edges;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		-ms-interpolation-mode: nearest-neighbor;
	}

	</style>
       
        <form id="dataPemegangPolis13-form24" class="list">
            
		<!-- 18 January 2023 -->
		    <div class="item item-divider" style="margin-top:16px;"  ng-hide="labelIsPempolTertanggungHide">

                <span style="position:relative;top:10px;">Pemegang Polis adalah Tertanggung </span>
                <span  style="float:right;">
                    <md-toggle ng-change="pempolAdalahTertanggung(data.isTertanggungPempol)"
                               ng-model="data.isTertanggungPempol" name="isTertanggungPempol"
                               toggle-class="toggle-balanced">
                    </md-toggle>
                </span>
            </div>    

            <div class="item item-divider" style="margin-top:16px;"  ng-hide="!labelIsPempolTertanggungHide">
                Pemegang Polis adalah Tertanggung [&check;]
            </div>
        <!-- 18 January 2023 -->

            <div class="item item-divider" style="margin-top:25px;">Identitas Pemegang Polis</div>
            <label class="item item-input" id="dataPemegangPolis13-input24"
                   name="namaLengkapPempol">
                <span class="input-label">Nama Lengkap</span>
                <input type="text" placeholder="nama lengkap" ng-model="data.namaLengkapPempol"
                       ng-blur="saveDataSpaj($scope)" ng-readonly="true">
            </label>
			<label class="item item-input" id="dataPemegangPolis13-input21"
                   name="namaAliasPempol">
                <span class="input-label">Nama Alias</span>
                <input type="text" placeholder="nama alias" ng-model="data.namaAliasPempol" ng-blur="saveDataSpaj($scope)">
            </label>
            <label class="item item-input" id="dataPemegangPolis13-input25" name="nomorKTPPempol">
                <span class="input-label">Nomor KTP</span>
                <input type="number" placeholder="nomor KTP" ng-model="data.nomorKTPPempol"
                       ng-blur="saveDataSpaj($scope)" ng-readonly="true">
            </label>


            <!--label class="item item-input" id="dataPempol13-input2" name="tglLahirPempol">
                <span class="input-label">Tgl. Lahir</span>
                <input type="date" ng-model-options="{timezone:'UTC'}"
                       ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd" placeholder=""
                       ng-model="data.tglLahirPempol" ng-blur="saveDataSpaj($scope)">
            </label-->
			<label class="item item-input" id="dataTertanggung13-input2" name="tglLahirPempol">
				<span class="input-label">Tgl. Lahir (d-m-y)</span>
				<input type="hidden" ng-model="data.tglLahirPempol">
					{{data.tglLahirPempol| date: "dd-MM-yyyy"}}
				</input>
			</label>
			<label class="item item-input" id="dataTertanggung13-input3"
                   name="tempatLahirPempol">
                <span class="input-label">Tempat Lahir</span>
                <input type="text" placeholder="tempat lahir" ng-model="data.tempatLahirPempol"
                       ng-blur="saveDataSpaj($scope)">
            </label>
            <label class="item item-input" id="dataPempol13-input2" name="nomorNPWPPempol">
                <span class="input-label">Nomor NPWP</span>
                <input type="number" placeholder="nomor NPWP" ng-model="data.nomorNPWPPempol"
                       ng-blur="saveDataSpaj($scope)">
            </label>
            <label class="item item-select" id="dataPemegangPolis13-select25" name="jenkelPempol">
                <span class="input-label">Jenis Kelamin</span>
                <select ng-model="data.jenkelPempol"
                        ng-options="jenkelPempol.id as jenkelPempol.label for jenkelPempol in genders"
                        ng-change="saveDataSpaj($scope)" disabled></select>
            </label>
            <label class="item item-select" id="dataPemegangPolis13-select26" name="agamaPempol">
                <span class="input-label">Agama</span>
                <select ng-model="data.agamaPempol"
                        ng-options="agamaPempol.id as agamaPempol.label for agamaPempol in agamas"
                        ng-change="saveDataSpaj($scope)"></select>
            </label>
            <center>
                <div ng-hide="labelIsPempolTertanggungHide">
                    <input type="file" class="fileUpload "
                           accept="image/*" id="imageKTPpempol"
                           custom-on-change="changeImage">
                    </input>
                    <div style="width:150px;font-size:1.2em;font-weight:bolder;position:relative;top:-78px;right:-52px;">
                        Swafoto Dengan KTP
                    </div>
                </div>
            </center>
			
            <div class="spacer" style="width: 300px; height: 17px;"></div>
			
            <div>

                <center>
                    <div class="canvasContainer" style="overflow:none;max-width:500px;">
						<canvas id="canvasKTPpempol" ng-model="data.imageKTPpempol"></canvas>
                    </div>
                </center>
                <!--img id="imgKTPtertanggung" src="https://cdn3.iconfinder.com/data/icons/business-office-1-2/256/Identity_Document-512.png" 
					width="35%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" 
					ng-model="imageKTPpempol" ng-change="saveDataSpaj($scope)"-->
            </div>
       
        <!--button id="dataPemegangPolis13-button43" 
			style="font-weight:500;" 
			class="button button-balanced button-large button-block button-outline icon-right ion-android-camera">
				FOTO KTP
		</button-->
		
<div class="spacer" style="height: 30px;"></div>
			
			<!--div class="row">
                <div class="col col-75" style="font-size:1.1em;">PEMBAYAR PREMI adalah Pemegang Polis</div>
                <div class="col" style="text-align:right;">
                    <md-toggle ng-change="pempolAdalahTertanggung(data.isPempolPembayarPremi)"
                               ng-model="data.isPempolPembayarPremi" name="isPempolPembayarPremi"
                               toggle-class="toggle-balanced">
                    </md-toggle>
                </div>
            </div-->


            <!--div class="row">
                <div class="col col-75" style="font-size:1.1em;">Pemegang Polis adalah Pembayar Premi</div>
                    <div class="col" style="text-align:right;">
                    <md-toggle   ng-change="pempolAdalahPembayarPremi(data.isPempolPembayarPremi)"
                        ng-model="data.isPempolPembayarPremi"  name="isPempolPembayarPremi"
                         toggle-class="toggle-balanced" >
                    </md-toggle>
                    </div>
            </div-->

            <!--div ng-hide="data.isPempolPembayarPremi" ng-show="!data.isPempolPembayarPremi" style="background:#ADADFF;">
               <div class="item item-divider" style="margin-top:25px;">Identitas Pembayar Premi</div>
                <label class="item item-input" id="namaLengkapPemPrem-input24"
                       name="namaLengkapPemPrem">
                    <span class="input-label">Nama Lengkap</span>
                    <input type="text" placeholder="nama lengkap" ng-model="data.namaLengkapPemPrem"
                           ng-blur="saveDataSpaj($scope)">
                </label>
                <label class="item item-input" id="nomorKTPPemPrem-input25" name="nomorKTPPemPrem">
                    <span class="input-label">Nomor KTP</span>
                    <input type="number" placeholder="nomor KTP" ng-model="data.nomorKTPPemPrem"
                           ng-blur="saveDataSpaj($scope)">
                </label-->

                <!--label class="item item-input" id="dataPempol13-input2" name="tglLahirPemPrem">
                    <span class="input-label">Tgl. Lahir</span>
                    <input type="date" ng-model-options="{timezone:'UTC'}"
                           ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd"
                           placeholder="" ng-model="data.tglLahirPemPrem"
                           ng-blur="saveDataSpaj($scope)">
                </label-->
				
				<!--label class="item item-input" id="dataTertanggung13-input2" name="tglLahirPemPrem">
					<span class="input-label">Tgl. Lahir (d-m-y)</span>
					<input type="hidden" ion-datetime-picker date ng-model="data.tglLahirPemPrem" ng-blur="saveDataSpaj($scope)">
						{{data.tglLahirPemPrem| date: "dd-MM-yyyy"}}
					</input>
				</label>
				
                <label class="item item-input" id="dataPempol13-input2" name="nomorNPWPPemPrem">
                    <span class="input-label">Nomor NPWP</span>
                    <input type="number" placeholder="nomor NPWP" ng-model="data.nomorNPWPPempol"
                           ng-blur="saveDataSpaj($scope)">
                </label>
                <label class="item item-select" id="dataPemegangPolis13-select25"
                       name="jenkelPemPrem">
                    <span class="input-label">Jenis Kelamin</span>
                    <select ng-model="data.jenkelPemPrem"
                            ng-options="jenkelPemPrem.id as jenkelPemPrem.label for jenkelPemPrem in genders"
                            ng-change="saveDataSpaj($scope)"></select>
                </label>
                <label class="item item-select" id="dataPemegangPolis13-select25"
                       name="hubPemPremDngTTU">
                    <span class="input-label">Hubungan Dengan Tertanggung</span>
                    <select ng-model="data.hubPemPremDngTTU"
                            ng-options="hubPemPremDngTTU.id as hubPemPremDngTTU.label for hubPemPremDngTTU in hubunganKeluargas"
                            ng-change="saveDataSpaj($scope)"></select>
                </label>
            </div-->

 </form>

        <form id="dataPemegangPolis13-form25" class="list">

            <div class="row">
                <div class="col col-75" style="font-size:1.1em;">Data Sudah Benar</div>
                <div class="col" style="text-align:right;">
                    <md-toggle ng-change="saveDataSpaj($scope);moveToNextPage()"
                               ng-model="data.isPagePempol1Accepted" name="isPagePempol1Accepted"
                               toggle-class="toggle-balanced">
                    </md-toggle>
                </div>
            </div>

            <div class="spacer" style="height:400px;"></div>
        </form>


    </ion-content>

    <div class="tabs tabs-positive " style="height:auto;">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div id="dataTertanggung13-button-bar1" class="button-bar">
                            <div id="dataPemegangPolis13-button-bar5" class="button-bar">
                                <button id="dataPemegangPolis13-button13"
                                        style="font-weight:500;text-align:left;"
                                        class="button button-balanced   icon-right ion-chevron-right">
                                    1. Identitas
                                </button>
                                <a ui-sref="aplikasiSPAJOnline.dataPemegangPolis23({})"
                                   ng-click="isPageAccepted()" id="dataPemegangPolis13-button14"
                                   style="font-weight:500;text-align:left;"
                                   class="button button-stable icon-right   ion-chevron-right">2.
                                    Tempat Tinggal</a>
                                <a ui-sref="aplikasiSPAJOnline.dataPemegangPolis33({})"
                                   ng-click="isPageAccepted()" id="dataPemegangPolis13-button15"
                                   style="font-weight:500;text-align:left;"
                                   class="button button-stable icon-right">3. Pendukung</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-view>